# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/resources.c
/src/Makefile.in
/src/fract
/src/Makefile
/m4/libtool.m4
/m4/ltoptions.m4
/m4/lt~obsolete.m4
/m4/ltversion.m4
/m4/ltsugar.m4
/autom4te.cache/
/res/Makefile
/res/Makefile.in
/depcomp
/install-sh
/config.log
/stamp-h1
/ltmain.sh
/libtool
/Makefile
/aclocal.m4
/config.status
/config.h
/config.h.in
/missing
/configure
/config.sub
/Makefile.in
/compile
/config.guess
/nbproject/
/src/configure.ac
/pkg/
/src/.deps/
/compile_commands.json
/PKGBUILD
/options.txt
/build/
